{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}
	- Saison #{{ season.number }}
{% endblock %}

{% block body %}
	<div class="media bg-primary mt-4 rounded container">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body d-flex flex-column align-items-center">
			<h1 class="mt-0">Saison
				{{ season.number }}
				de
				{{ program.title }}</h1>
			<h2>Episode
				{{ episode.number }}
				-
				{{ episode.title }}</h2>
			<p>{{ episode.synopsis }}</p>
		</div>

		{% for comment in episode.comments %}
			<div class="bg-secondary">
				<h4 class="text-light">{{ comment.author.email }}
					-
					{{ comment.rate }}/10</h3>
				<div class="bg-light">
					<p>{{ comment.comment }}}</p>
				</div>
                	{% if (app.user == comment.author) or (is_granted("ROLE_ADMIN")) %}
		<div class="w-50 justify-content-center btn btn-light">
			{% include "comment/_delete_form.html.twig" %}
		</div>
	{% endif %}
			</div>
	{% endfor %}
    </div>

	{% if is_granted("ROLE_CONTRIBUTOR") or is_granted("ROLE_ADMIN") %}
		<h2 class="mx-5">
			Laisser un commentaire</h2>
		<div class="d-flex justify-content-center">
			{% include "comment/_form.html.twig" %}
		</div>
	{% endif %}

</div>


<a href="{{ path('program_index') }}">
	Retour à la liste des programmes
</a>{% endblock %}
