{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }} {% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
                    {% for episode in episodes %}
        <div>
             <a href="{{ path("program_episode_show", { slug: program.slug, season: season.id, episodeSlug: episode.slug  }) }}"> <p>Episode {{ episode.number }} : {{ episode.title }} </p></a>
        </div>
    {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}